* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeSpeed;
  font-size: 20px;
}
/* //////////////////////// header ///////////// */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./image/img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.hdr {
  color: rgba(255, 255, 255, 0.808);
  position: absolute;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}
h1 {
  position: relative;
  font-weight: 400;
}
.btn {
  width: 6rem;
  opacity: 0.88;
  position: absolute;
  background-color: rgba(39, 60, 117, 0.8);
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}
.btn:hover,
.btn:active {
  opacity: 1;
  background-color: #273c75;
}
/* //////////////////////// navbar ///////////// */
.logo {
  margin-top: 2.5rem;
  margin-left: 4.5rem;
  float: left;
  height: 5rem;
  width: auto;
  overflow: hidden;
}
.navbar ul {
  float: right;
  margin-right: 3rem;
}
.navbar li {
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.45rem;
  display: inline-block;
}
.navbar li a:link,
.navbar li a:visited {
  padding-bottom: 0.35rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 75%;
  text-transform: uppercase;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.3s;
}
.navbar li a:hover {
  border-bottom: 0.1rem solid #dcdde1;
}
/* //////////////////////// Preview ///////////// */
.preview {
  margin: 1rem 0.5rem;
}
.preview h2 {
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 35%;
  letter-spacing: 0.1rem;
}
.preview h2::after {
  content: "";
  margin: 0.6rem 8rem;
  display: block;
  height: 0.1rem;
  width: 10rem;
  background-color: #222f3e;
}
.preview .main-crd {
  list-style: none;
  width: 100%;
}
.preview .main-crd ul {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(6rem, auto);
  margin: 4rem;
}
.preview .main-crd li {
  display: block;
  margin: 0.1rem;
}
.crd img {
  padding: 0.2rem;
  width: 100%;
  height: auto;
  transform: scale(1.02);
}
.crd-fix {
  padding: 0.4rem;
}
.crd {
  position: relative;
}
.crd p {
  position: absolute;
  top: 85%;
  left: 10%;
  color: #fff;
  font-style: italic;
}
.crd img:hover {
  transform: scale(1);
  transition: transform 0.5s;
}
.preview .main-crd li:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.preview .main-crd li:nth-child(4) {
  grid-row-start: span 2;
  grid-column-start: span 3;
  grid-column-start: span 2;
}
.preview .main-crd li:nth-child(7) {
  grid-row-start: span 2;
  grid-column-start: span 3;
  grid-column-start: span 2;
}

/* //////////////////////// service ///////////// */
.section-main {
  position: relative;
}
.pre-card {
  position: absolute;
  margin-top: -4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pre-card h2 {
  font-weight: 300;
}
.pre-card h2::after {
  content: "";
  margin: 0.6rem auto;
  display: block;
  height: 0.1rem;
  width: 10rem;
  background-color: #222f3e;
}
.main-card {
  display: flex;
  align-items: center;
  margin: 8rem 2.5rem;
  justify-content: center;
}
.card {
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
  box-shadow: -1rem 1rem 1rem rgba(213, 218, 217, 0.808);
}
.card h4 {
  text-transform: uppercase;
  font-weight: 400;
}
.card a {
  padding: 0.47rem;
  background-color: rgba(39, 60, 117, 0.8);
  border-radius: 0.2rem;
  text-decoration: none;
  color: #fff;
}
.card a:hover {
  background-color: #273c75;
}
.card:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform 0.2s;
}
/* //////////////////////// Testimonials /////////////// */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./image/img15.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}
.section-testimonials h2 {
  font-weight: 300;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-testimonials h2:after {
  content: "";
  margin: 1rem auto;
  display: block;
  height: 0.1rem;
  width: 9rem;
  background-color: #ecf0f1;
}
.comment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testimonials {
  padding: 6rem 2rem;
  margin: 3rem 2.5rem;
}

.comment .testimonials img {
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 150%;
  position: relative;
}
blockquote:before {
  position: absolute;
  content: "\0022";
  font-size: 400%;
  display: block;
  top: 0;
  left: -1.5rem;
}
cite {
  margin-top: 0.3rem;
  font-size: 70%;
  display: block;
}
cite img {
  margin: 0.5rem;
  vertical-align: middle;
}
/* //////////////////////// contact form /////////////// */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.contact-form {
  flex: 3;
  color: #000;
}
.card-4 {
  flex: 1;
}
/* background-image: linear-gradient(
    105deg,
   rgba(234, 32, 39, 0.5) 0%,  rgba(245, 246, 250, 0.85) 50%,
    transparent 50%
  ),
 url(./img4.jpg); */

.contact-form {
  background-image: linear-gradient(
      105deg,
      rgba(245, 246, 250, 0.88) 50%,
      rgba(44, 62, 80, 0.77) 50%
    ),
    url(./image/img4.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem 0.5rem;
  margin: 1rem 1.5rem;
  /* box-shadow: -1rem 1rem 1rem rgba(113, 128, 147, 0.8); */
  position: relative;
}
/* .contact-form:hover {
  transform: scaleX(1.01) scaleY(1.01);
  transition: transform 0.2s;
} */
.contact-form h2 {
  position: absolute;
  top: 10%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  font-weight: 400;
}
.contact-form h2::after {
  content: "";
  margin: 0.2rem -2rem;
  display: block;
  height: 0.1rem;
  width: 10rem;
  background-color: #222f3e;
}
.contact-form p {
  position: absolute;
  top: 18%;
  left: 20%;
}
form {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
form input {
  width: 35%;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  background-color: rgba(245, 246, 250, 0.7);
  border: none;
}
form input:focus {
  outline: none;
  border-bottom: 0.15rem solid #222f3e;
}
textarea {
  width: 35%;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  background-color: rgba(245, 246, 250, 0.7);
  border: none;
}
textarea:focus {
  outline: none;
  border-bottom: 0.15rem solid #222f3e;
}
form button {
  background-color: rgba(39, 60, 117, 0.88);
  margin-top: 0.8rem;
  width: 7%;
  padding: 0.4rem 0.5rem;
  border: none;
  border-radius: 0.1rem;
}
form .link-1 {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
form button:hover {
  background-color: #273c75;
}

/* //////////////////////// about us/////////////// */
.section-holder {
  background-image: linear-gradient(
    70deg,
    rgba(39, 60, 117, 0.8) 0%,
    rgba(25, 42, 86, 1) 64%,
    rgba(245, 246, 250, 0.88) 50%
  );
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
}
.about-us {
  padding: 1rem 3rem;
  flex: 2;
  color: #fff;
}
.section-holder .details {
  flex: 1;
}
.about-us h2 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-left: 40%;
  margin-top: 2.5rem;
}
.about-us h2::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 6rem;
  background-color: #fff;
  margin: 0.4rem 2.6rem;
}
.team-main {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  width: 100%;
}
.team {
  width: 100%;
  margin: 0.6rem;
}
.team img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  position: relative;
  object-fit: cover;
}
.team .icn i {
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
  background-color: #ecf0f1;
  border-radius: 50%;
  font-size: 0.8rem;
}
.fa-github {
  color: #34495e;
}
.section-holder .details {
  padding: 1rem 3rem;
  margin-top: 8rem;
  text-align: justify;
}
.team h4 {
  font-weight: 400;
}
.team h5 {
  font-weight: 250;
  color: #ffffff;
  padding-top: 0.3rem;
}
/* //////////////////////// footer/////////////// */
.footer {
  background-image: linear-gradient(to left, #273c75 50%, #192a56 50%);
  height: 20rem;
  /* margin-top: 3rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #f5f6fa;
}
.footer a {
  text-decoration: none;
  color: #f5f6fa;
}
.footer .find-us {
  margin-left: 9rem;
  margin-top: 5rem;
}
.footer .find-us li {
  margin-top: 0.3rem;
}
.footer .find-us li:hover {
  transform: scaleX(1.03) scaleY(1.03);
  transition: transform 0.1s;
}
.footer .icon {
  padding-top: 15rem;
  margin-left: 8rem;
}

.footer .icon h4 {
  font-size: 1rem;
  padding-left: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.icon i:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform 0.1s;
}
.footer .icon i {
  margin-right: 1.1rem;
  font-size: 1.3rem;
}
.connect i:hover {
  transform: scaleX(1.03) scaleY(1.03);
  transition: transform 0.1s;
}
.fa-twitter {
  color: #00a8ff;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #f14843;
}
.fa-linkedin {
  color: #4a69bd;
}
.footer .icon h4::after {
  content: "";
  margin: 0.6rem -4.5rem;
  display: block;
  height: 0.1rem;
  width: 15rem;
  background-color: #f5f6fa;
}
.footer .connect {
  margin-right: 10rem;
  margin-top: 7rem;
}
.footer .connect h4 {
  font-weight: 400;
}
.footer .connect i {
  margin-top: 0.6rem;
}
.fa-envelope {
  color: #e84118;
  font-size: 1.3rem;
}
.fa-phone-volume {
  color: #4cd137;
  font-size: 1.3rem;
}
.footer .connect .mail {
  margin-left: 0.7rem;
}
.footer .connect .phone {
  margin-left: 0.7rem;
  font-weight: 400;
}
footer {
  background-color: #0c2461;
  padding-left: 38%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}
