* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeSpeed;
  font-size: 20px;
}
/* //////////////////////// header ///////////// */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.69)),
    url(./img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.hdr {
  color: rgba(255, 255, 255, 0.808);
  position: absolute;
  width: 70%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}
.btn:hover,
.btn:active {
  background-color: rgba(47, 54, 64, 1);
}
h1 {
  position: relative;
  font-weight: 400;
}
.btn {
  position: absolute;
  background-color: rgba(22, 21, 21, 0.4);
  border-radius: 0.5rem;
  /* border: 0.1rem solid #000; */
  margin-top: 1rem;
  padding: 0.47rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0rem;
}
/* //////////////////////// navbar ///////////// */
.logo {
  margin-top: 2.5rem;
  margin-left: 4.5rem;
  float: left;
  height: 5rem;
  width: auto;
  overflow: hidden;
}
.navbar ul {
  float: right;
  margin-right: 3rem;
}
.navbar li {
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.45rem;
  display: inline-block;
}
.navbar li a:link,
.navbar li a:visited {
  padding-bottom: 0.35rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 75%;
  text-transform: uppercase;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.3s;
}
.navbar li a:hover {
  border-bottom: 0.1rem solid #8395a7;
}
/* //////////////////////// section ///////////// */
.section-main {
  position: relative;
}
.pre-card {
  position: absolute;
  margin-top: -3.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pre-card h2 {
  font-weight: 300;
}
.pre-card h2::after {
  content: "";
  margin: 0.6rem auto;
  display: block;
  height: 0.1rem;
  width: 10rem;
  background-color: #222f3e;
}
.main-card {
  display: flex;
  align-items: center;
  margin: 8rem 2.5rem;
  justify-content: center;
}
.card {
  padding: 1rem;
  margin: 1rem;
  box-shadow: -1rem 1rem 1rem rgba(213, 218, 217, 0.808);
}
.card h4 {
  text-transform: uppercase;
  font-weight: 400;
}
.card a {
  padding: 0.47rem;
  background-color: #222f3e;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.card:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform 0.2s;
}

/* //////////////////////// Testimonials /////////////// */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}
.section-testimonials h2 {
  font-weight: 300;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-testimonials h2:after {
  content: "";
  margin: 1rem auto;
  display: block;
  height: 0.1rem;
  width: 9rem;
  background-color: #ecf0f1;
}
.comment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testimonials {
  padding: 6rem 2rem;
  margin: 3rem 2.5rem;
}

.comment .testimonials img {
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 150%;
  position: relative;
}
blockquote:before {
  position: absolute;
  content: "\0022";
  font-size: 400%;
  display: block;
  top: 0;
  left: -1.5rem;
}
cite {
  margin-top: 0.3rem;
  font-size: 70%;
  display: block;
}
cite img {
  margin: 0.5rem;
  vertical-align: middle;
}
/* //////////////////////// contact form /////////////// */
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form {
  flex: 3;
  color: #000;
}
.card-4 {
  flex: 1;
}
/* background-image: linear-gradient(
    105deg,
   rgba(234, 32, 39, 0.5) 0%,  rgba(245, 246, 250, 0.85) 50%,
    transparent 50%
  ),
 url(./img4.jpg); */

.contact-form {
  background-image: linear-gradient(
      105deg,
      rgba(245, 246, 250, 0.88) 50%,
      rgba(44, 62, 80, 0.77) 50%
    ),
    url(./img4.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem 0.5rem;
  margin: 1rem 1.5rem;
  box-shadow: -1rem 1rem 1rem rgba(113, 128, 147, 0.8);
  position: relative;
}
.contact-form:hover {
  transform: scaleX(1.01) scaleY(1.01);
  transition: transform 0.2s;
}
.contact-form h2 {
  position: absolute;
  top: 10%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  font-weight: 400;
}
/* .contact-form h2::after {
  content: "";
  margin: 0.2rem auto;
  display: block;
  height: 0.1rem;
  width: 10rem;
  background-color: #222f3e;
} */
.contact-form p {
  position: absolute;
  top: 20%;
  left: 10%;
}
form {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
form input {
  width: 25%;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  background-color: rgba(245, 246, 250, 0.7);
  border: none;
}
form input:focus {
  outline: none;
  border-bottom: 0.15rem solid #222f3e;
}
form button {
  background-color: rgba(47, 54, 64, 0.5);
  overflow: hidden;
  margin-top: 0.6rem;
  width: 8%;
  padding: 0.3rem 0.2rem;
  border: none;
}
form button a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
form button:hover {
  background-color: rgba(47, 54, 64, 1);
}
.link {
  width: 5%;
  color: #000;
  text-decoration: none;
}
.link:hover {
  color: #44bd32;
}
